input {
    margin: 0 10px;
    border: 0;
    height: 40px;
    background: transparent;
    text-align: center;
    outline: none;
    font-size: 1.5rem;
    padding: 20px 10px;
    width: 100%;
    border-bottom: 1px solid white;
    
    &::placeholder {
        color: white;
    }
}